#canvas.nearestNeighbour {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
}

#canvas {
	border: 1px solid black;
	min-height: 20vh;
	max-width: 80vw;
	max-height: 80vh;
}

#container {
	left: 50%;
	transform: translateX(-50%);
	position: relative;
	display: inline-block;
}

#canvasContainer {
	text-align: center;
}

#controls {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

#metaInfo {
	text-align: right;
}

input[type=number] {
	width: 80px;
}
